// -----------------------------------------------------------------------------
// This file contains all animations.
// -----------------------------------------------------------------------------

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    // width: 0;
    visibility: hidden; // pour Safari
    // transform: translateY(-100%);
    display:none;
    z-index: -1; // pour mozilla
  }
}

@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
  
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heart {
  0% { transform: scale(1); opacity: 0; }
  100% { transform: scale(1.1); opacity: 1; }
}