// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@media screen and (min-width: 600px) {
    section {
        padding: 50px 0; // A changer ! pour la mise en page
    }
    .section__restaurants .restaurants__cards {
        gap: 25px 50px;
    }
    
    .section__restaurants .restaurants__cards .card {
        flex: 1;
    }

    // Section menu title
    .section__menu {
        padding-top: 51px;
    }
}

@media screen and (min-width: 1024px) {
    .section__reserve h1 {
        font-size: 40px;
    }

    // Preparation btn
    .preparation__wrapper__btn {
        flex-direction: row;
    }

    .section__restaurants .restaurants__cards {
        gap: 25px 50px;
    }

    .section__restaurants .restaurants__cards .card {
        flex: 1;
    }

    footer {
        padding: 30px 0;
    }

    footer a:nth-child(-n + 2) {
        width: 195px;
    }

    footer a:nth-child(n + 3) {
        width: 130px;
    }

    footer .footer__wrapper {
        height: 54px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:end;
        align-items:self-end;
    }
    
    footer .footer__link {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .section__restaurants .restaurants__cards {
        gap: 50px 100px;
    }

    footer {
        padding: 30px 25px;
    }
}