// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    /* Button */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    border: 0;
}

// Reserve btn
.reserve__btn {
    width: 218px;
    height: 50px;
    color: $btn-text-color-1;
    border-radius: 25px;
    background: $button-gradient;
    cursor: pointer;
    // background: var(--button-gradient, );
    transition: all 450ms ease;
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        // transform: scale(1.02);
        opacity: 0.8;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

// Preparation btn
.preparation__wrapper__btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    counter-reset: index;

    .preparation__btn {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 322.486px;
        height: 72.379px;
        border-radius: 20px;
        background: $light-grey-2;
        padding: 0;
        margin-left: 12px;

        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        &::before {   
            counter-increment: index;
            content: counter(index);  
            // content: '';       
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -12px;
            height: 24px;
            width: 24px;
            background-color: #9356DC;
            border-radius: 50%;
            
            color: var(--background, #F6F6F6);
            font-family: Roboto;
            font-size: 14.182px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        i {
            &.color1 {
                color: $btn-ico-color-1;
            }

            &.color2 {
                color: $btn-ico-color-2;
            }
        }

        .btn__txt {
            width: 211px;
            text-align: left;
        }

        .btn__dot {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -12px;
            height: 24px;
            width: 24px;
            flex-shrink: 0;
            background-color: #9356DC;
            border-radius: 50%;
            
            color: var(--background, #F6F6F6);
            font-family: Roboto;
            font-size: 14.182px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

// Favorite heart btn
.btn__favorite {
    // position: absolute;
    background: transparent;
    height: 100%;
    width: 22px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    z-index: 1;

    & i {
        position: absolute;
        font-size: 22px;
        transition: all 450ms ease;
        cursor: pointer;

        &.full__heart {
            opacity: 0;
            transition: all 1s ease;
            &:hover {
                transform: scale(1.2);
                color: transparent;
                background-image: $gradient-color;
                -webkit-background-clip: text;
                background-clip: text;
                opacity: 1;
            }
        }
    }
}