// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: $dark-grey;
    padding: 22px 25px;
    // padding: 30px 25px;
    min-width: 320px;

    .footer__wrapper {
        display: grid;
        gap: 16px;
    }

    .footer__title {
        width: 139px;
        height: 27px;
        & h2 {
            margin: 0;
            padding: 0;
        }
    }

    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            display:flex;
            flex-direction: row;
            gap: 10px;

            i {
                width: 16px;
                font-size: 13px;
            }
        }
    } 


}