// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: $dark-grey;
    padding: 22px 0;

    .footer__wrapper {
        display: grid;
        // gap: 10px;
    }

    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            display:flex;
            flex-direction: row;
            gap: 10px;

            i {
                width: 16px;
                font-size: 13px;
            }
        }
    } 


}